<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .active {
            background: skyblue;
        }

        #box div {
            width: 200px;
            height: 100px;
            border: 1px solid #000;
            _display: none;
        }

        #box div.show {
            display: block;
        }
    </style>
</head>
<script src="./vue.js"></script>
<body>
    <div id="box">
    <button v-for='(value,key) in arr' @click='fn(key)' :class="[isClass===key?cls:' ']">{{value}}</button>
    <div v-for='(value,key) in ary' v-show='block===key' >{{value}}</div>
     </div>
    <script>
    
        new new Vue({
            el:'#box',
            data:{
                isClass:0,
                cls:{
                    active:true,
                },
                block:0,
                arr:[
                    "按钮一",
                    "按钮二",
                    "按钮三",
                ],
                ary:[
                    "11111",
                    "22222",
                    "333333",
                ],

            },
            methods: {
                fn(num){
                    this.block=num;
                    this.isClass=num;
                }
            }
        })
    </script>
</body>

</html>